.titulo {
  color: hotpink;
  width: 310px;
  height: 50px;
  background-color: teal;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hipidoge {
  width: 5rem;
  display: flex;
  justify-items: center;
}

.capipepo {
  width: 5rem;
  display: flex;
  justify-items: center;
}

.ratigueya {
  width: 5rem;
  display: flex;
  justify-items: center;
}
